@import "tailwindcss";

* {
  font-family: Outfit;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* globals.css — paste di paling atas */
:root {
  --page-bg: #ffffff;
  --page-text: #000000;
}

/* saat dark aktif (next-themes/your toggle menambahkan class "dark" ke <html>) */
.dark {
  --page-bg: #0f172a; /* gray-900 */
  --page-text: #ffffff;
}

/* gunakan variabel ini sebagai fallback background + text untuk seluruh halaman */
html, body {
  background-color: var(--page-bg);
  color: var(--page-text);
}

/* khusus untuk dark mode */
.dark html, .dark body {
  background-color: var(--page-bg);
  color: var(--page-text);
}

/* .bg-planes {
  background-image: url('/planes_cover.jpg');
} */

.bg-planes {
  background-image: url('/imamf-portfolio/planes_cover.jpg');
}
